.post_page {
  margin-left: 11%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}

.Input {
  margin-top: 15px;
  resize: none;
  border: 1px solid white;
  font-size: 30px;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #999;
  font-size: 30px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999;
  font-size: 30px;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #999;
  font-size: 30px;
}